<h1>All Tasks</h1>
<div class="notifications">
  <div class="notice">
    <p id="notice"><%= notice %></p>
  </div>
</div>
  <%= link_to 'Make new task', new_task_path, class: 'button_link'%>
<br>
<br>
<div class="table_frame">
  <table>
    <tr>
      <th class="th_label">Created at</th>
      <th class="th_label">Priority</th>
      <th class="th_label">Status</th>
      <th class="th_label">Deadline</th>
      <th class="th_label">Name</th>
      <th class="th_label">Detail</th>
    </tr>       

  <div class="search_form">
    <%= form_with(url: search_tasks_path, method: :get, local: true) do %>      
      <%= select_tag :search_status, options_for_select([['未着手'],['着手中'],['完了']]),
        { class: 'search_select', prompt: 'ステータス' } %>
      <%= text_field_tag :search_name %>
      <%= submit_tag '検索' %>
    <% end %>
  </div><br>

  <div class="sort">
    <%= form_with(url: sort_tasks_path, local: true) do |f| %>
      <%= select_tag :sort, options_for_select([["Sort by created time","created_at"],["Sort by deadline","deadline"],["Sort by priority","priority"]]), { class: 'sort_select' } %>
      <%= submit_tag "Sort" %>
    <% end %>
  </div><br>

  <tr>
    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <th class="created_at"><%= task.created_at.to_s(:datetime)%></th>
        <th class="button"><%= task.priority%></th>
        <th class="status"><%= task.status %></th>
        <th class="button"><%= task.deadline %></th>
        <th class="task_row"><%= task.name %></th>
        <th class="task_detail"><%= task.detail %></th>
        <th colspan="3"> 
        <td><%= button_to 'Delete', task_path(task.id), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %></td>
        <td><%= button_to 'Detail', task_path(task.id),  method: :get, class: "button" %></td>
        <td><%= button_to "Edit", edit_task_path(task.id),  method: :get, class: "button" %></td> </th></tr>   
    <% end %>
      <% else %>
        <%= '検索結果に該当するタスクはありません' %>
    <% end %>
  </table>

  <% if @tasks.present? %>
    <div class="page">
      <%= paginate @tasks %>
    </div>
  <% end %>
</div>


