<h1><%= @user.name %>のページ</h1>

<p id="notice"><%= notice %></p>

<p>メールアドレス: <%= @user.email %></p>

<%= button_to "Edit my account", edit_user_path, method: :get, class:"button_link" %>
<br>
<%= button_to "All users", users_path, method: :get, class:"button_link" %>
<br>
<%= button_to "All tasks", root_path, method: :get, class:"button_link" %>
<br>
<%= button_to "Make new task", new_task_path, method: :get, class:"button_link" %>
<br><br><br>
