<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task.detail %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<br><%= link_to 'Edit', edit_task_path(@task), class:"button_link" %> |

<br><%= link_to 'Back', tasks_path, class:"button_link" %>